@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul#list {
    margin: 0;
    padding: 0;
    min-height: 100%;
    margin: 0 auto 50px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 38px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: white;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 15px 12px 15px;
}
  
.close:hover {
    background-color: #ce0d0d;
    color: white;
}

.edit {
    position: absolute;
    right: 40px;
    top: 0;
    padding: 12px 14px 12px 14px;
}
  
.edit:hover {
    background-color: #32a83a;
    color: white;
}

.header {
    background-color: #3632b9;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

#clear-list{
    cursor: pointer;
    font-size: 18px;
    padding: 12px;
    /* margin-top: 50px; */
    border: none;
    border-radius: 25px;
    background-color: #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#clear-list:hover{
    background-color: #3632b9;
    color: white;
}

#foot {
    background-color: #3632b9;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
    font-size: 15px;
}

.push {
    height: 80px;
}

#foot a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 430px)
{
    input {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        font-size: 14px;
    }

    
    .addBtn {
        margin-left: 130px;
        font-size: 14px;
    }
    
    ul li {
        font-size: 12px;
    }
    
    ul li.checked::before {
        top: 10px;
    }

    #clear-list{
        padding: 10px;
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}
@media screen and (max-width: 380px)
{
    .addBtn {
        margin-left: 110px;
        font-size: 14px;
    }

    ul li.checked::before {
        top: 11px;
    }
}
@media screen and (max-width: 325px)
{
    .addBtn {
        margin-left: 88px;
        font-size: 14px;
    }

    ul li.checked::before {
        top: 11px;
    }
}